/* MIX IN */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'open sans'; }

.container {
  padding: 60px 0px;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  overflow: hidden; }

.tittle {
  font-weight: bold;
  color: #003566;
  font-size: 30px;
  text-align: center;
  margin-bottom: 60px; }

/* CAROUSEL*/
.container-rent2-here {
  width: 100%; }

.row2 {
  width: 100%; }

/* HEADER*/
header {
  display: grid;
  overflow: hidden;
  height: 650px;
  width: 100%;
  background: #1f4037;
  background: -webkit-linear-gradient(to bottom, #99f2c8, #1f4037);
  background: linear-gradient(to bottom, rgba(151, 242, 200, 0.226), #1f4037), url(../imagenes-comprimidas/bilding.jpg);
  background-size: cover;
  background-attachment: fixed;
  position: relative; }

/* SASS*/
nav {
  display: grid;
  grid-template-columns: repeat(5, 1%);
  justify-content: space-around;
  padding: 30px 50px 0px 0px; }
  nav a {
    color: #000;
    font-weight: 300;
    text-decoration: none;
    font-size: 16px;
    margin-right: 10px;
    width: 100px; }
  nav a:hover {
    text-decoration: underline;
    color: #003566; }

.text-header {
  display: flex;
  flex-direction: column;
  height: 430px;
  width: 100%;
  justify-content: center;
  text-align: center; }

.text-header h1 {
  font-size: 32px;
  margin-bottom: 10px; }

.text-header h2 {
  font-size: 30px;
  font-weight: 300; }

.wave {
  position: absolute;
  bottom: 0;
  width: 100%; }

/* OUR PRODUCTS  */
.container-our-products2 {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 90px; }

.container-our-products2 img {
  width: 40%;
  height: 50%; }

.img-our-products {
  width: 48%; }

.container-our-products2 .container-text h3 {
  margin-bottom: 15px; }

.container-text p {
  width: 90%; }

.span-ourproducts, .span-ourproducts2, .span-ourproducts3 {
  background: #4d0686;
  color: #fff;
  border-radius: 50%;
  display: grid;
  grid-template-columns: repeat();
  text-align: center;
  width: 5%;
  height: 5%;
  padding: 2px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.733); }

/* EXTEND */
/* FIN EXTEND*/
.container-text p {
  padding: 0px 0px 30px 15px;
  font-weight: 400;
  text-align: justify; }

/* CONTAIENR - ABOUT -US*/
.container-about-us {
  background: #d6d5d572;
  margin-bottom: 100px;
  padding-top: 30px;
  padding-bottom: 50px; }

.img-about-us {
  margin-left: 140px;
  width: 80%;
  height: 80%; }

.text-about-us {
  text-align: center;
  color: #d8d5d5; }

.container-about-us2 {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 90px; }

.container-about-us2 img {
  width: 40%;
  height: 50%; }

.img-about-us2 {
  width: 40%; }

.container-about-us2 .container-text h3 {
  margin-bottom: 15px; }

.container-text p {
  width: 90%; }

.span-about-us, .span-about-us2, .span-about-us3 {
  background: #003566;
  color: #fff;
  border-radius: 50%;
  display: grid;
  grid-template-columns: repeat();
  text-align: center;
  width: 5%;
  height: 5%;
  padding: 2px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.733); }

/* EXTEND */
/* PORTFOLIO */
.portfolio {
  background: #f2f2f2; }

.gallery-port {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  justify-content: space-evenly;
  margin-bottom: 40px; }

.img-port {
  width: 80%;
  height: 80%;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5); }

.img-port img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; }

.hover-gallery {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  transform: scale(0);
  background: rgba(90, 132, 6, 0.3);
  transition: transform .5s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.hover-gallery img {
  width: 50px; }

.hover-gallery p {
  font-weight: 300;
  color: #fff; }

.img-port:hover .hover-gallery {
  transform: scale(1); }

/* CONTAINER - CLIENTS*/
.cards {
  display: flex;
  justify-content: space-evenly; }

.cards .card {
  background: rgba(119, 225, 175, 0.378);
  display: flex;
  width: 46%;
  height: auto;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5); }

.card img {
  margin-top: 50px;
  width: 30%;
  height: 30%;
  object-fit: cover;
  border: 2px solid #293a3657;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  display: block; }

.card .text-cards {
  width: 60%; }

.text-cards h4 {
  padding-left: 5%; }

.text-cards p {
  font-weight: 300;
  padding-left: 5%;
  padding-top: 5%; }

/* OUR  SERVICES */
.about-services {
  background: #d6d5d572;
  padding-bottom: 30px; }

.service-container {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.service-ind {
  width: 28%;
  text-align: center; }

.service-ind img {
  width: 90%; }

.pic2 {
  width: 170px;
  height: 250px; }

.pic3 {
  width: 170px;
  height: 240px; }

.service-ind h3 {
  margin: 10px; }

.service-ind p {
  font-weight: 300; }

/* RENT - HERE */
.rent-here {
  background: #d6d5d572;
  margin-top: 100px;
  margin-bottom: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 99%; }

.container-rent-here {
  justify-self: center; }

.picture2-rent-here {
  margin-left: 30px;
  width: 300px;
  height: 300px; }

.row h4 {
  border: 4px solid #d6d5d572;
  border-radius: auto;
  box-shadow: 2px 4px 10px #d6d5d572; }

.row p {
  border: 4px solid #d6d5d572;
  border-radius: auto;
  box-shadow: 2px 4px 10px #d6d5d572; }

.row .cash {
  border: 4px solid #d6d5d572;
  border-radius: auto;
  box-shadow: 2px 4px 10px #d6d5d572; }

.row .btn {
  margin-left: 100px;
  margin-bottom: 50px; }

.row .carousel-control-next-icon {
  background-color: black; }

.row .carousel-control-prev-icon {
  background-color: black; }

/* FOOTER */
footer {
  background: #41414143;
  padding: 60px 0 30px;
  margin: auto; }

.container-footer {
  display: grid;
  grid-template-columns: 23% 23% 23%;
  width: 100%;
  justify-content: space-evenly;
  margin: auto;
  padding-bottom: 50px;
  border-bottom: 1px solid #5e5b61; }

.content-footer {
  text-align: center; }

.content-footer h4 {
  color: #003566;
  border-bottom: 3px solid #5e5b61;
  padding-bottom: 5px;
  margin-bottom: 20px; }

.content-footer p {
  color: #003566;
  font-weight: 500; }

.final-tittle {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  margin-top: 20px;
  color: #5e5b61; }

/* FORM-CONTACT */
.contact2 {
  background-color: #d6d5d572;
  padding: 40px 0 40px 0;
  margin-top: 40px;
  margin-bottom: 40px; }
  .contact2 .form-contact {
    width: 500px;
    height: 850px;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 80px;
    padding: 30px;
    border-top: 4px solid #003566;
    border-bottom: 4px solid #003566; }

.bottom-contact {
  width: 100%;
  border: 1px solid #003566;
  margin-bottom: 5px;
  padding: 6px 3px; }

.form-contact h3 {
  margin: 0;
  border-bottom: 1px solid #000;
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 30px; }

/* LOG-IN */
.log-in2 {
  background-color: #d6d5d572;
  padding: 80px 0 40px 0;
  margin-top: 80px;
  margin-bottom: 80px; }

.log-in {
  width: 400px;
  height: 400px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 80px;
  padding: 30px;
  border-top: 4px solid #003566;
  border-bottom: 4px solid #003566; }

.controls {
  width: 100%;
  border: 1px solid #003566;
  margin-bottom: 25px;
  padding: 6px 3px; }

.bottom {
  width: 100%;
  margin-bottom: 40px;
  border: 1px solid #003566;
  padding: 6px 3px;
  background-color: #003566;
  color: whitesmoke; }

.log-in p {
  text-align: center; }

.log-in p a:hover {
  color: #ffd166;
  transition: 0.5s; }

.log-in p a {
  color: #003566;
  text-decoration: none; }

.control {
  margin-left: 150px;
  margin-bottom: 30px; }

/* REGISTER */
.register2 {
  background-color: #d6d5d572;
  margin: 80px 0 80px 0;
  padding: 40px 0 40px 0; }

.reg-in {
  width: 400px;
  height: 700px;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 80px;
  padding: 30px;
  border-top: 4px solid #003566;
  border-bottom: 4px solid #003566; }
  .reg-in .btn {
    width: 90%; }

.bottom-register {
  width: 100%;
  border: 1px solid #003566;
  margin-bottom: 25px;
  padding: 6px 3px; }

.bottom {
  width: 100%;
  border: 1px solid #003566;
  padding: 6px 3px;
  background-color: #003566;
  color: whitesmoke; }

.reg-in p {
  text-align: center; }

.reg-in p a:hover {
  color: #ffd166;
  transition: 0.5s; }

.reg-in p a {
  color: #003566;
  text-decoration: none; }

.dropdown-menu {
  background-color: transparent;
  border: transparent; }
  .dropdown-menu .dropdown-divider {
    width: 100px; }
  .dropdown-menu .dropdown-item {
    background-color: transparent; }

.button-register {
  display: flex;
  justify-content: center;
  padding: 5px 20px 5px 20px;
  border-radius: 12%; }
  .button-register .btn {
    width: 70%; }

/* ANIMACIONES */
nav {
  animation-duration: 2s;
  animation-name: shows-up;
  animation-iteration-count: initial; }

@keyframes shows-up {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.text-header {
  animation-duration: 5s;
  animation-name: shows-up;
  animation-iteration-count: initial; }

@keyframes shows-up {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/* MEDIA QUERIES  MOBILE */
@media screen and (max-width: 400px) {
  /* H1 - Portada*/
  .text-center {
    width: 55%;
    text-align: center;
    padding: 0 0 0 80px; }
  .container {
    padding: 60px 0px;
    width: 100%;
    max-width: 400px;
    margin: auto;
    overflow: hidden; }
  .text-header h1 {
    font-size: 25px;
    margin-right: 220px;
    margin-bottom: 100px; }
  .text-header h2 {
    font-size: 25px;
    margin-right: 180px;
    margin-bottom: 10px; }
  /* NAV*/
  nav {
    width: 81%;
    position: sticky;
    padding-bottom: 30px; }
  nav a {
    display: grid;
    grid-template-columns: repeat(5, 5%);
    column-gap: 5px;
    font-size: 12px; }
  .navbar-toggler-icon {
    color: #003566; }
  /* OUR - PRODUCTS */
  .container-our-products2 img {
    margin-bottom: 40px;
    width: 49%; }
  .container-our-products2 .container-text {
    width: 100%; }
  .span-ourproducts, .span-ourproducts2, .span-ourproducts3 {
    height: 10%;
    width: 10%; }
  /*ABOUT - US*/
  .container-about-us .img-about-us {
    margin-left: 31px; }
  .span-about-us, .span-about-us2, .span-about-us3 {
    width: 15%;
    height: 10%; }
  .container-about-us2 {
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .container-about-us2 .container-text {
    width: 90%; }
  .container-about-us2 img {
    margin-bottom: 25px; }
  /* PORTFOLIO*/
  .gallery-port {
    margin: 0;
    width: 700px;
    height: 400px; }
  .img-port {
    width: 100%;
    margin-right: 25px; }
  .img-port img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; }
  /* CLIENTS - What do our costumers say */
  .cards .cards .card {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .cards .card:nth-child(1) {
    margin-bottom: 35px; }
  .cards .card h4 {
    margin-top: 8px; }
  .cards .card p {
    height: 100%; }
  /* FOOTER */
  .container-footer {
    display: grid;
    grid-template-columns: 80%;
    justify-content: center;
    width: 100%;
    margin: auto;
    padding-bottom: 50px; }
  .content-footer {
    margin-bottom: 20px; }
  .content-footer h4 {
    border-bottom: 1px solid 50% #5e5b61;
    font-size: 12px; }
  .content-footer p {
    width: auto;
    margin-bottom: 20px;
    margin-right: 20px;
    font-size: 12px; }
  /* RENT - HERE */
  .rent-here {
    width: 92%;
    margin-left: 12px; }
  .carousel-item .picture2-rent-here {
    margin-left: 50px;
    width: 200px;
    height: 200px; }
  .row .btn {
    margin-left: 85px;
    margin-bottom: 40px; }
  .picture2-rent-here {
    width: 50%;
    height: 50%; }
  /* LOG- IN */
  .log-in {
    width: 90%; }
  /* CONTACT */
  .file2 {
    width: 90%; }
  .contact2 .form-contact {
    width: 90%;
    height: 100%; }
  /* REGISTER */
  .reg-in {
    width: 90%;
    height: 90%;
    padding: 0px;
    animation-name: reg-in; }
  .bottom-register {
    width: 90%;
    padding: 1px; } }

/* MEDIA QUERIES  MOBILE - AGAIN - */
@media screen and (min-width: 400px) and (max-width: 500px) {
  /* H1 - Portada*/
  .text-center {
    width: 55%;
    text-align: center;
    padding: 0 0 0 80px; }
  .container {
    padding: 60px 0px;
    width: 100%;
    max-width: 400px;
    margin: auto;
    overflow: hidden; }
  .text-header h1 {
    font-size: 25px;
    margin-right: 220px;
    margin-bottom: 100px; }
  .text-header h2 {
    font-size: 25px;
    margin-right: 180px;
    margin-bottom: 10px; }
  /* NAV*/
  nav {
    width: 100%;
    position: sticky;
    padding-bottom: 30px;
    margin-bottom: 10px; }
  nav a {
    display: grid;
    grid-template-columns: repeat(5, 5%);
    column-gap: 5px;
    font-size: 12px; }
  .navbar-toggler-icon {
    color: #003566; }
  /* CONTACT */
  .contact2 .form-contact {
    width: 90%;
    height: 100%; }
  /* ABOUT - US */
  .carousel-item .img-about-us {
    margin-left: 40px;
    width: 80%;
    height: 80%; }
  /* PORTFOLIO*/
  .gallery-port {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    justify-content: space-between;
    margin-bottom: 40px;
    margin-left: 50px; }
    .gallery-port img {
      width: 100%;
      height: 100%; }
  /* FOOTER */
  .container-footer {
    display: grid;
    grid-template-columns: 60%;
    justify-content: center;
    width: 90%;
    margin: auto;
    padding-bottom: 50px; }
  .content-footer {
    margin-bottom: 20px; }
  .content-footer h4 {
    border-bottom: 1px solid 50% #5e5b61;
    font-size: 12px; }
  .content-footer p {
    width: auto;
    margin-bottom: 20px;
    margin-right: 20px;
    font-size: 12px; }
  /* RENT - HERE */
  .rent-here {
    width: 92%;
    margin-left: 16px; }
  .carousel-item .picture2-rent-here {
    margin-left: 68px;
    width: 200px;
    height: 200px; } }

/* REGISTER*/
.registrar {
  width: 70%;
  padding: 0px; }

.file2 {
  width: 90%; }

/* MEDIA QUERIES - LAPTOP */
@media screen and (max-width: 900px) {
  /* H1 - Portada*/
  header {
    background-position: center; }
  /* OUR - PRODUCTS */
  .container-our-products2 {
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .container-our-products2 .container-text {
    width: 90%; }
  .container-our-products2 img {
    margin-bottom: 25px; }
  /* About Us*/
  .img-about-us {
    margin-left: 75px;
    width: 80%;
    height: 80%; }
  .container-about-us .text-about-us {
    margin-top: 150px;
    font-size: 12px;
    color: #626f8c; }
  .container-about-us2 {
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .container-about-us2 .container-text {
    width: 90%; }
  .container-about-us2 img {
    margin-bottom: 25px; }
  /* PORTFOLIO*/
  .img-port {
    width: 44%;
    margin-left: 40px; }
  /* CLIENTS*/
  .cards {
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .cards .card {
    width: 90%; }
  .card:first-child {
    margin-bottom: 25px; }
  /* SERVICE*/
  .service-container {
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .service-ind {
    width: 100%;
    text-align: center; }
  .service-ind:nth-child(1), .service-ind:nth-child(2) {
    margin-bottom: 40px; }
  .service-ind img {
    width: 80%;
    height: auto; }
  .service-ind .pic2 {
    width: 80%;
    height: 80%; }
  .service-ind .pic3 {
    width: 80%;
    height: 80%; }
  /* FOOTER */
  .container-footer {
    display: grid;
    grid-template-columns: 60%;
    justify-content: center;
    width: 90%;
    margin: auto;
    padding-bottom: 50px; }
  .content-footer {
    margin-bottom: 20px; }
  .content-footer h4 {
    border-bottom: 1px solid 50% #5e5b61;
    font-size: 12px; }
  .content-footer p {
    width: auto;
    margin-bottom: 20px;
    margin-right: 20px;
    font-size: 12px; }
  .registrar {
    width: 90%;
    padding: 0px; } }

@media screen and (min-width: 500px) and (max-width: 900px) {
  .rent-here {
    width: 92%;
    margin-left: 30px; }
  .row .btn {
    margin-left: 285px;
    margin-bottom: 150px; }
  .carousel-item .picture2-rent-here {
    margin-left: 250px;
    width: 200px;
    height: 200px; } }
